//Single column layout with header and footer
//
// HTML Layout
//   <div id="page">
//     <div id="header"></div>
//     <div id="content"></div>
//     <div id="footer"></div>
//  </div>
//
//   +-----------------+
//   |    HEADER       |
//   |-----------------|
//   |                 |
//   |    CONTENT      |
//   |                 |
//   |-----------------|
//   |    FOOTER       |
//   +-----------------+


body.single {
  #page {
    @include container;
  }
  #header, #footer {
    @include column($blueprint-grid-columns);
  }
  #header {
    margin-top: 1em;
    background-image: url('/images/headerbg.png');
    height: 134px;

    h1 {
      margin-top: 40px;
      text-align: center;
      color: #fff;
      font-weight: bold;
      @include text-shadow(#000, 0px, 0px, 30px); 
    }
  }
  #footer {
    #signature {
      text-align: center;
      p { margin: 0; }
    }
  }
  #content {
    @include column($blueprint-grid-columns);

    .menu {
      font-size: 1.3em;
      text-align: center;
      border: 1px dashed #000;
      margin: 2em 5em;
      padding: 2em;

      a {
        border: 1px solid #888;
        text-decoration: none;
        display: block;
        padding: 1em;
        margin: 1em;

        .subtext {
          font-size: 0.8em; 
        }
      }
      
      a:hover {
        background: #ccc;
      }
    }
  }
}