.menu.box
  %a{ :href => "/" } Home
  //%a{ :href => "/presentation/aksmc2011" } Slides
  %a{ :href => "/presentation/aksmc2011/links" } Links
  %a{ :href => "/presentation/aksmc2011/example1" } Base Layers
  %a{ :href => "/presentation/aksmc2011/example2" } Overlay Layers
  %a{ :href => "/presentation/aksmc2011/example2a" } Random Opacity for the Overlay Layers
  %a{ :href => "/presentation/aksmc2011/example3" } Label Layer
  %a{ :href => "/presentation/aksmc2011/example4" } Custom Map Type Layer
  %a{ :href => "/presentation/aksmc2011/example4a" } Custom Map Type Layer w/ Images
