#header
  %h1 Using Google Maps V3 with WMS & Shiv
  %h2 Presented @ GISJam AKSMC 2011
#sidebar= render 'presentation/aksmc2011/menu'
#content-column
  .box 
    %p Presentation slides will be added here after the presentation at AKSMC2011.  
    %p Please stay tuned!
