.menu
  %a{ :href => '/presentation/aksmc2011' }
    Using Google Maps V3 with WMS & Shiv
    .subtext Presented @ GISJam AKSMC 2011
  %a{ :href => '/aksmc2010' }
    Integrating GINA Services with Web Mapping APIs
    .subtext Presented @ GISJam AKSMC 2010