#header
  %h1 Using Google Maps V3 with WMS & Shiv
  %h2 Presented @ GISJam AKSMC 2011
#content
  .menu.box
    %a{ :href => "example/slides" } Slides
    %a{ :href => "example/example1" } Example Map #1
    %a Example Map #2