#signature
  %p <b>Will Fisher</b> | will(at)alaska.edu
  %p
    %a{ :href => 'http://www.gina.alaska.edu' } Geographic Information Network of Alaska (GINA)
    |
    %a{ :href => 'http://www.uaf.edu' } University of Alaska, Fairbanks